  <h1>What to Eat?</h1>
  <h2>Royal Maindin Express</h2>
  <p id="demo">This is a paragraph.</p>
  <p id="ads">This is a paragraph.</p>
  <button type="button" onclick="displayMenu()">Display Date</button>

