<!DOCTYPE html>
<html>
<head>
  <title>Rmeapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src = "/static/airport.js" type="text/javascript"></script>
  <script src = "/static/menu.json" type="text/javascript"></script>
  <script type="text/javascript">
 
  function displayMenu()
  {
    var item = menu.name[Math.floor(Math.random()*menu.name.length)];
    document.getElementById("demo").innerHTML="<p>" + item + "<p>"
    $(  ads  ).airport([not decided]);
  }
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
